.sale{
	padding: 9px 15px;
	background: #de8f9e20;
	font-family: Yanone Kaffeesatz;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.4;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #DE8F9E;
	display: flex;
	align-items: center;
	justify-content: center;
}
.intro__bnr{
	background-size: cover;
	border-radius: 5px;
	margin: 30px auto;
	height: 244px;
	position: relative;
	img{
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
	.mobile-img{
		display: none;
	}
	&-inner{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 10px;
		position: absolute;
		left: 0;
		top: 0;
		.title{
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 1;
			text-align: center;
			margin-bottom: 10px;
		}
		.subtitle{
			font-size: 14px;
			line-height: 1.4;
			text-align: center;
			margin-bottom: 30px;
		}
		.btn{
			background: #8C6F9E;
			color: #FFFFFF;
		}
	}
	@media (max-width:768px) {
		height: 320px;
		.mobile-img{
			display: block;
		}
		.desktop-img{
			display: none;
		}
	}
}
.search__section{
	padding: 15px 30px;
	background: rgba(49, 52, 62, 0.07);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.title{
		font-weight: bold;
		font-size: 36px;
		line-height: 1.4;
		margin-right: clamp( 30px, 6.11vw, 90px);
	}
	.form{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 1 0 auto;
		.field{
			label{
				display: block;
				font-size: 14px;
				line-height: 1.4;
				margin-bottom: 10px;
			}
			select{
				background:url('../images/icons/select.svg') right 20px center no-repeat #fff;
				width: 260px;
			}
		}
		input[type="submit"]{
			width: 160px;
			background:url('../images/icons/gift.svg') left 44px center no-repeat #80D0AD;
			font-size: 16px;
			line-height: 1.4;
			color: #FFFFFF;
			margin-top: auto;
			padding-left: 40px;
		}
	}
	@media (max-width: 1080px) {
		.title{
			margin-right: 30px;
		}
		.form{
			.field{
				select, .custom-select{
					width: 230px;
				}
			}
		}		
	}
	@media (max-width: 992px) {
		flex-direction: column;
		padding: 0;
		.title{
			width: 100%;
			background: #80D0AD;
			border-radius: 5px;
			margin-right: 0;
			padding: 15px;
			font-size: 24px;
			color: #FFFFFF;
			display: flex;
			align-items: center;
			justify-content: space-between;
			&::after{
				content: "+";
				display: block;
				font-family: serif;
				font-size: 34px;
				line-height: 0;
			}
			&.active{
				background: transparent;
				color: #31343E;
				&::after{
					content: "-";
					color: #31343E;
				}
			}
		}
		.form{
			flex-direction: column;
			align-items:initial;
			width: 100%;
			padding: 15px;
			display: none;
			.field{
				margin-bottom: 15px;
				select, .custom-select{
					width: 100%;
				}
			}
			input[type="submit"]{
				background:url('../images/icons/gift.svg') left 46% center no-repeat #80D0AD;
				padding-left: 40px;
				width: 100%;
				font-size: 14px;
			}
		}
	}
	@media (max-width: 576px) {
		.form{
			input[type="submit"]{
				background:url('../images/icons/gift.svg') left 43% center no-repeat #80D0AD;
			}
		}
	}
}
.product__list{
	margin: 30px auto 50px;
	.title{
		font-weight: bold;
		font-size: 36px;
		line-height: 1.4;
		margin-bottom: 20px;
	}
	.item{
		.img{
			display: block;
			width: 100%;
			line-height: 0;
			margin-bottom: 15px;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&:hover{
				opacity: 0.8;
			}
		}
		.name{
			font-size: 18px;
			line-height: 1.4;
			display: block;
			margin-bottom: 10px;
			&:hover{
				text-decoration: underline;
			}
		}
		.name-trands{
			font-family: "Yanone Kaffeesatz";
			font-weight: bold;
			font-size: 24px;
			margin-bottom: 5px;
		}
		.price{
			display: flex;
			align-items: center;
			margin-bottom: 16px;
			.current{
				font-weight: bold;
				font-size: 16px;
				line-height: 1;
				text-transform: capitalize;
				margin-right: 10px;
			}
			.old{
				font-weight: normal;
				font-size: 14px;
				line-height: 1;
				text-decoration-line: line-through;
			}
		}
		.rating{
			display: flex;
			align-items: center;
			font-size: 12px;
			line-height: 1;
			margin-bottom: 18px;
			.stars{
				display: flex;
				align-items: center;
				margin-right: 5px;
				img{
					margin-right: 1px;
				}
			}
		}
		.busket{
			background: rgba(49, 52, 62, 0.07);
			width: 140px;
			justify-content: space-between;
			font-weight: 600;
			font-size: 14px;
			line-height: 1.28;
			&:hover{
				text-decoration: underline;
			}
		}
		.description{
			margin-bottom: 20px;
		}
		.detail{
			color: #51BBCB;
			display: flex;
			align-items: center;
			img{
				margin-left: 10px;
			}
		}
	}	
	@media (max-width: 992px) {
		.title{
			font-size: 30px;
		}
		.item{
			.name{
				font-size: 14px;
			}
			.name-trands{
				font-size: 24px;
			}
			.price{
				margin-bottom: 12px;
				.current{
					font-size: 14px;
				}
				.old{
					font-size: 12px;
				}
			}
			.rating{
				font-size: 10px;
				margin-bottom: 13px;
			}
		}
	}
}
.grid_4c{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 30px 40px;
	.colspan_4{
		grid-column:  span 4 / auto;
	}
	.colspan_2{
		grid-column:  span 2 / auto;
	}
	.rowspan_2{
		grid-row:  span 2 / auto;
	}
	@media (max-width: 992px) {
		grid-template-columns: repeat(3,1fr);
		grid-gap: 30px;
	}
	@media (max-width: 576px) {
		grid-template-columns: repeat(2,1fr);
	}
	@media (max-width: 375px) {
		grid-gap: 10px 20px;
	}
}
.grid_2c{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 20px 30px;
}
.product__list-slider, .trands-slider{
	.item{
		margin: 0 15px;
	}
	.slick-slider {
		margin-left: -15px;
		margin-right: -15px;
	}
	@media (max-width: 768px) {
		.slick-list {
			padding: 0 20% 0 0;
		}
	}
	@media (max-width: 375px) {
		.item{
			margin: 0 5px;
		}
		.slick-slider {
			margin-left: -5px;
			margin-right: -5px;
		}
	}
}
.slick-dots{
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: 40px;
	li{
		width: 40px;
		height: 5px;
		background: rgba(49, 52, 62, 0.07);
		border-radius: 10px;
		display: block;
		button{
			width: 100%;
			height: 100%;
			padding: 0;
			&::before{
				display: none;
			}
		}
		&.slick-active{
			background: #31343E;
		}
	}
}
.content__bnr{
	position: relative;
	width: 100%;
	margin: 50px 0;
	img{
		width: 100%;
		height: auto;
	}
	&-inner{
		position: absolute;
		width: 100%;
		height: 100%;
		padding: 30px 40px;
		left: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.title{
			font-weight: bold;
			font-size: 36px;
			line-height: 1.4;
			color: #FFFFFF;
			margin-bottom: 10px;
		}
		.subtitle{
			font-size: 18px;
			line-height: 1.4;
			color: #FFFFFF;
			margin-bottom: 25px;
		}
		.btn{
			background-color: #fff;
			font-weight: bold;
			font-size: 14px;
			line-height: 1.4;
			width: 144px;
		}
	}
	@media (max-width: 768px) {
		&-inner{
			align-items: center;
			text-align: center;
			.title{
				font-size: 24px;
			}
			.subtitle{
				font-size: 14px;
				margin-bottom: 20px;
			}
		}
	}
}
.breadcrumb{
	margin: 20px auto 10px;
	font-size: 12px;
	line-height: 1.4;
	color: rgba(49, 52, 62, 0.3);
	a,svg{
		margin-right: 10px;
	}
	span{
		color: #31343E;
	}
}
.catalog__title{
	background: rgba(49, 52, 62, 0.07);
	padding: 25px 15px;
	margin: 10px auto 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.4;
	text-align: center;
	color: #31343E;
}
.catalog__subtitle{
	margin: 30px auto 50px;
	font-size: 16px;
	line-height: 1.4;
	text-align: center;
	color: #31343E;
}
.catalog__topbar{
	margin: 50px auto 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	.topbar__filter{
		position: relative;
		.filter__section{
			display: none;
			background: #F1F1F1;
			border-radius: 0px 5px 5px 5px;
			padding: 30px 20px 20px;
			position: absolute;
			left: 0;
			z-index: 1;
			width: clamp( 290px, 60vw, 825px);
		}
		.filter__section-inner{
			display: flex;
			flex-wrap: wrap;
			.checkbox__group{
				width: 170px;
				padding-right: 15px;
				flex: 1 0 auto;
				.title{
					font-weight: bold;
					font-size: 18px;
					line-height: 1.4;
					color: #31343E;
					margin-bottom: 15px;
					font-family: 'Source Sans Pro', sans-serif;
				}
			}
			.filter__apply{
				display: flex;
				align-items: center;
				grid-gap: 10px;
				width: 100%;
				margin-top: 15px;
			}
			.topbar__sorting{
				display: none;
			}
		}
	}
	.topbar__sorting{
		position: relative;
		&-list{
			display: none;
			width: 100%;
			background: #F1F1F1;
			border-radius: 0px 0 5px 5px;
			padding: 5px 20px 15px;
			position: absolute;
			left: 0;
			z-index: 1;
			a{
				display: block;
				margin-bottom: 15px;
				font-size: 16px;
				&:last-child{
					margin-bottom: 0;
				}
				svg{
					margin-left: 14px;
				}
			}			
		}
	}
	@media (max-width: 768px) {
		.topbar__filter{
			.filter__section{
				position: fixed;
				left: 0;
				top: 0;
				width: 100vw;
				height: 100vh;
				z-index: 11;
				background-color: #fff;
				overflow-y: auto;
			}
			.filter__section-inner{
				align-items: flex-start;
				flex-direction: column;
				.filter__apply{
					order: -1;
					margin-top: 0;
					margin-bottom: 15px;
					height: 60px;
					justify-content: space-between;
				}
				.checkbox__group{
					width: 100%;
					padding-right: 0;
					flex: 0 0 auto;
					padding: 15px;
					background: rgba(49, 52, 62, 0.07);
					border-radius: 5px;
					margin-bottom: 5px;
					.title{
						margin-bottom: 0;
						position: relative;
						display: flex;
						align-items: center;
						justify-content: space-between;
						&::after{
							content:"";
							background: url('../images/icons/select.svg') right center no-repeat;
							width: 10px;
							height: 7px;
						}
						&.active{
							&::after{
								transform: rotate(180deg);
							}
						}
					}
					.checkbox__group-list{
						display: none;
						padding-top: 15px;
					}
				}
				.topbar__sorting{
					display: block;
					width: 100%;
					margin-bottom: 5px;
					.btn-sorting{
						width: 100%;
						padding: 15px;
						font-weight: bold;
						font-size: 18px;
						line-height: 1.4;
						color: #31343E;
					}
					&-list{
						display: none;
						width: 100%;
						background: #F1F1F1;
						border-radius: 0px 5px 5px 5px;
						padding: 15px;
						position: relative;
					}
				}
			}
		}
		.topbar__sorting{
			display: none;
		}
	}
}
.pagination{
	margin: 50px auto;
	.load__more{
		display: flex;
		justify-content: center;
		margin-bottom: 34px;
	}
	.pagination__pages{
		display: flex;
		align-items: center;
		justify-content: center;
		grid-gap: 64px;
		a, span{
			display: block;
			font-size: 14px;
			line-height: 18px
		}
		span{
			color: rgba(49, 52, 62, 0.3);
		}
		a.prev{
			margin-right: 55px;
		}
		a.next{
			margin-left: 55px;
		}
		.pages{
			display: flex;
			align-items: center;
			justify-content: center;
			grid-gap: 15px;
		}
	}
	@media (max-width: 768px) {
		.pagination__pages{
			grid-gap: 15px;
			justify-content: space-between;
			a.prev{
				margin-right: 0;
			}
			a.next{
				margin-left: 0;
			}
		}
	}
}
.product__detail{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 30px;
	margin: 25px auto 50px;
	.product_detail-images{
		position: relative;
		width: 100%;
		max-width: 540px;
		.slick-slide{
			border-radius: 5px;
			overflow: hidden;
			img{
				width: 100%;
				height: auto;
			}
		}
		.small__images-slider{
			padding: 0 80px;
			margin: 33px auto 0;
			.slick-slide{
				padding: 5px;
			}
			.slick-prev, .slick-next{
				background: url('../images/icons/has__child.svg') center center no-repeat;
				background-size: 7px 10px;
				margin-top: -13px;
				width: 26px;
				height: 26px;
				transform: translate(0,0);
				&::before{
					display: none;
				}
			}
			.slick-prev{
				left: 50px;
				transform: rotate(180deg);
			}
			.slick-next{
				right: 50px;
			}			
		}
	}
	.product__detail-content{
		.tools{
			display: flex;
			align-items: center;
			justify-content: space-between;
			grid-gap: 30px;
			margin-bottom: 30px;
			.new{
				color: #DE8D4E;
				font-size: 14px;
				padding: 3px 6px 4px;
				background: #F9E7D6;
				border-radius: 5px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.rating{
				display: flex;
				align-items: center;
				font-size: 12px;
				line-height: 1;
				margin-bottom: 0;
				.stars{
					display: flex;
					align-items: center;
					margin-right: 5px;
					img{
						margin-right: 1px;
					}
				}
			}
		}
		.product__title{
			font-size: 18px;
			margin: 30px auto 20px;
		}		
		.price{
			display: flex;
			align-items: center;
			margin: 20px auto 10px;
			.current{
				font-weight: bold;
				font-size: 18px;
				line-height: 1;
				text-transform: capitalize;
				margin-right: 10px;
			}
			.old{
				font-weight: normal;
				font-size: 18px;
				line-height: 1;
				text-decoration-line: line-through;
			}
		}
		.option__buy{
			font-size: 12px;
			color: #51B15B;
			margin: 10px auto 20px;
		}
		.busket{
			max-width: 290px;
			background: #31343E;
			color: #fff;
			margin: 20px 0 30px;
		}
		.warning{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			background: rgba(225, 113, 88, 0.1);
			border-radius: 5px;
			padding: 15px;
			max-width: 290px;
			width: 100%;
			font-weight: bold;
			font-size: 16px;
			color: #E17158;
			margin: 30px 0;
			svg{
				margin-right: 15px;
				flex-shrink: 0;
			}
			.subtitle{
				font-size: 12px;
				font-weight: normal;
				width: 100%;
			}
		}
		.params{
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			margin: 30px 0;
			.item{
				text-align: center;
				font-weight: bold;
				font-size: 16px;
				svg{
					margin-bottom: 8px;
				}
				.subtitle{
					font-size: 12px;
					font-weight: normal;
				}
			}
		}
	}
	@media (max-width: 980px) {
		.product_detail-images{
			max-width: 400px;
		}
	}
	@media (max-width: 768px) {
		display: block;
		.product_detail-images{
			max-width: 100%;
			margin-bottom: 30px;
		}
		.product__detail-content{
			display: grid;
			grid-template-columns: repeat(2,1fr);
			.tools, .product__title, .price, .option__buy{
				grid-column: 2 span / auto;
				width: 100%;
				order: 0;
				margin-bottom: 0;
			}
			.busket{
				order:1;
			}
			.params{
				order:2;
				grid-row: 2 span / auto;
				align-items: flex-start;
				margin: 0;
			}
			.warning{
				order:3;
				margin: 0;
			}
		}
	}
	@media (max-width: 576px) {
		.product_detail-images{
			.small__images-slider{
				padding: 0 30px;
				.slick-prev{
					left: 0px;
				}
				.slick-next{
					right: 0px;
				}
			}
		}
		.product__detail-content{
			grid-template-columns: repeat(1,1fr);
			.tools, .product__title, .price, .option__buy{
				grid-column: 1 span / auto;
			}
			.tools{
				.new{
					font-size: 10px;
				}
			}
			.busket{
				max-width: 100%;
				font-size: 14px;
				svg{
					width: 20px;
					height: 20px;
					margin-right: 10px;
				}
			}
			.params{
				grid-row: 1 span / auto;
			}
			.warning{
				order:1;
				max-width: 100%;
				margin:0 0 30px 0;
			}
		}
	}
}
.tabs__list{
	margin: 50px auto;
	.item{
		margin-bottom: 20px;
		padding: 20px;
		background: rgba(49, 52, 62, 0.07);
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
		&.akcent__tab{
			color: #fff;
			background: #80D0AD;
		}
		.head{
			font-weight: bold;
			font-size: 18px;
		}
		.body{
			margin-top: 20px;
			img{
				width: 100%;
				height: auto;
			}
		}
	}
	@media (max-width: 768px) {
		margin: 40px auto;
		.item{
			margin-bottom: 10px;
			padding: 15px;
			font-size: 14px;
			.head{
				font-size: 16px;
				margin-bottom: 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				&::after{
					content: "+";
					display: block;
					font-family: serif;
					font-size: 24px;
					line-height: 0;
				}
				&.active{
					&::after{
						content: "-";
					}
				}
			}
			.body{
				display: none;
				padding-top: 15px;
			}
		}
		
	}
}
.cart{
	display: flex;
	justify-content: space-between;
	margin: 40px 0 70px;
	.list{
		flex: 1 0 auto;
		margin-right: 25px;
		max-width: 635px;
		.heading{
			font-weight: bold;
			font-size: 22px;
			margin:30px 0 20px;
			&:first-child{
				margin-top: 0;
			}
		}
		.item{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;
			.img{
				width: 80px;
				height: 80px;
				margin-right: 20px;
				min-width:80px;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.item__wrapper{
				flex: 1 0 auto;
				display: grid;
				grid-template-columns: repeat(4,1fr);
				margin-right: 70px;
			}
			.name{
				font-weight: bold;
				font-size: 16px;
				margin-bottom: 5px;
				grid-column: 3 span / auto;
			}
			.price{
				font-size: 16px;
				grid-column: 3 span / auto;
			}
			.count{
				grid-row: 2 span / auto;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				width: 100%;
				max-width: 100px;
				button{
					width: 30px;
					height: 30px;
					background: rgba(49, 52, 62, 0.07);
					border-radius: 5px;
					font-size: 20px;
					line-height: 1;
					font-family: serif;
					&:hover{
						opacity: 0.8;
					}
				}
				input{
					flex: 1 0 auto;
					background-color: #fff;
					border: none;
					height: 30px;
					width: 40px;
					text-align: center;
					min-width: 40px;
					padding: 0;
				}
			}
		}
	}
	.promocode{
		width: 100%;
		max-width: 350px;
		margin-top: 50px;
		&__form{
			background: rgba(49, 52, 62, 0.07);
			border-radius: 5px;
			padding: 15px;
			margin-bottom: 20px;
			.heading{
				font-weight: bold;
				font-size: 18px;
				margin-bottom: 10px;
			}
			input[type="text"]{
				background: #FFFFFF;
				border-radius: 5px;
				border: none;
				padding: 10px 13px;
				color: rgba(49, 52, 62, 0.3);
				font-weight: bold;
				font-size: 18px;
				margin-bottom: 20px;
				height: 48px;
				width: 100%;
				outline: none;
			}
		}
		&__success{
			margin: 20px 0;
			background: rgba(128, 208, 173, 0.2);	
			border-radius: 5px;	
			padding: 15px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-weight: bold;
			color: #80D0AD;
			svg{
				margin-left: 25px;
				min-width: 24px;
			}
		}
	}	
	.summary__info{
		margin: 30px 0 40px;
		.field{
			display: flex;
			justify-content: space-between;
			grid-gap: 15px;
			font-size: 16px;
			margin-bottom: 5px;
			.value{
				font-weight: bold;
			}
			.orange{
				color: #E17158;
			}
			&.summary{
				font-weight: bold;
				align-items: center;
				.value{
					font-size: 22px;
				}
			}
		}
		hr{
			background: #E1E2E8;
			border-radius: 1px;
			height: 1px;
			border: none;
			width: 100%;
		}
	}
	.sidebar__checkout{
		margin: 40px 0;
		.action{
			max-width: 160px;
			margin-bottom: 30px;
			.summary{
				display: none;
			}
		}
		.buy__with{
			font-size: 16px;
			display: flex;
			align-items: center;
			div{
				margin-right: 30px;
			}
			a{
				margin-right: 20px;
				border-radius: 50%;
				width: 40px;
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				&:hover{
					opacity: 0.8;
				}
			}
			a.whatsup{
				background: #80D0AD;
			}
			a.telegram{
				background: #6C84BD;
				svg{
					margin-left: -3px;
					margin-top: 2px;
				}
			}
		}
	}
	@media (max-width: 992px) {
		flex-direction: column;
		.list{
			margin-right: 0;
			max-width: 100%;
			.heading{
				font-size: 18px;
			}
			.item{
				.item__wrapper{
					margin-right: 15px;
				}
				.name{
					font-size: 14px;
				}
				.price{
					font-size: 14px;
				}
			}
		}
		.promocode{
			width: 100%;
			max-width: 100%;
			margin-top: 10px;
			&__form{
				.heading{
					margin-bottom: 15px;
				}
				form{
					display: flex;
					grid-gap: 15px;
				}
				input[type="submit"]{
					height: 48px;
					max-width: 210px;
				}
			}
		}
	}
	@media (max-width: 576px ) {
		margin-bottom: 0;
		.list{
			.item{
				.item__wrapper{
					flex: 1 1 auto;
				}
				.name, .price{
					grid-column: 4 span / auto;
					margin-bottom: 10px;
				}
				.count{
					grid-row: 4 span / auto;
					order:2;
				}
			}
		}
		.promocode{
			&__form{
				form{
					display: block;
				}
				input[type="submit"]{
					height: 38px;
					max-width: 100%;
				}
			}
		}
		.sidebar__checkout{
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: row-reverse;
			margin-bottom: 0;
			box-shadow: 0px 0px 15px rgba(167, 179, 186, 0.6);
			margin: 0 -15px;
			padding: 0;
			.action, .buy__with{
				padding: 10px 15px;
				width: 50%;
			}
			.action{
				margin-bottom: 0;
				border-left: 1px solid #F0F1F1;
				max-width: 50%;
				.summary{
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: 12px;
					margin-bottom: 15px;
					.value{
						font-weight: bold;
					}
				}
				.btn{
					max-width: 140px;
					padding: 10px;
				}
			}
			.buy__with{
				flex-wrap: wrap;
				div{
					margin-bottom: 14px;
					margin-right: 0;
					width: 100%;
					br{
						display: none;
					}
				}
			}
		}
		.sidebar__checkout.fixed{
			position: fixed;
			bottom: 0;
			left: 15px;
			background: #fff;
			width: 100vw;
			z-index: 11;
		}
	}
}
.checkout{
	margin: 40px 0 50px;
	grid-gap: 20px 30px;
	label{
		font-weight: bold;
		margin-bottom: 5px;
		display: block;
		&.container__radio{
			margin-bottom: 0;
		}
	}
	input[type="text"], input[type="email"], textarea{
		width: 100%;
	}
	.heading{
		font-weight: bold;
		font-size: 22px;
		margin-bottom: 20px;
	}
	.radio_btns{
		display: flex;
		grid-gap: 10px 44px;
		flex-wrap: wrap;
		margin: 20px 0;
		.heading{
			width: 100%;
		}
	}
	.delivery-info{
		font-size: 22px;
		margin: 10px 0;
		b{
			display: block;
		}
	}
	.map{
		border-radius: 5px;
		overflow: hidden;
		margin-bottom: 10px;
		iframe{
			width: 100%;
		}
	}
	.check__info{
		background: rgba(225, 113, 88, 0.1);
		border-radius: 5px;
		padding: 15px 20px;
		font-weight: bold;
		font-size: 16px;
		color: #E17158;
		margin: 10px 0;
		p{
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.additional__info{
		margin-top: 31px;
	}
	@media (max-width: 992px) {
		grid-template-columns: repeat(4, 1fr);
		.heading{
			font-size: 18px;
		}
		.name, .surname, .email, .phone{
			order:1;
		}
		.radio_btns{
			order: 5;
		}
		.city{
			order:6;
			grid-column: 4 span / auto;
		}
		.adress{
			order:7;
			grid-column: 4 span / auto;
		}
		.additional__info{
			grid-column: 4 span / auto;
			order: 8;
			margin-top: 0;
		}
		.delivery-info{
			order: 9;
			font-size: 18px;
		}
		.map{
			order: 10;
		}
		.check__info{
			order: 11;
			font-size: 14px;
		}
		.delimetr{
			order: 12;
		}
		.submit{
			order: 13;
		}
	}
	@media (max-width: 576px) {
		.name, .surname, .email, .phone, .check__info{
			grid-column:4 span / auto;
		}
		.delimetr{
			display: none;
		}
		.submit{
			grid-column:4 span / auto;
		}
	}
}
.content__section{
	margin: 50px 0 70px;
	h1, h2, h3, h4{
		font-weight: bold;
		margin-bottom: 20px;
	}
	h1{
		font-size: 24px;
	}
	h2{
		font-size: 20px;
	}
	h3{
		font-size: 16px;
	}
	h4{
		font-size: 14px;
	}
	ul, ol{
		margin-left: 15px;
		padding-left: 15px;
		margin-bottom: 15px;
	}
	p{
		margin-bottom: 15px;
	}
	@media (max-width: 768px) {		
		h1{
			font-size: 18px;
		}
		h2{
			font-size: 16px;
		}
		h3{
			font-size: 14px;
		}
	}
}
.success__section{
	border-radius: 5px;
	text-align: center;
	height: calc(100vh - 555px);
	min-height: 410px;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	svg{
		margin-bottom: 30px;
	}
	h1{
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 10px;
	}
	.btn{
		margin-top: 40px;
	}
}
.section__404{
	border-radius: 5px;
	text-align: center;
	height: calc(100vh - 555px);
	min-height: 410px;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	img{
		margin-bottom: 40px;
		max-width: 100%;
	}
	h1{
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 10px;
	}
	.search{
		grid-column:  span 12 / auto;
		background: rgba(49, 52, 62, 0.05);
		border-radius: 5px;
		height: 42px;
		padding: 4px;
		margin: 40px auto;
		form{
			height: 100%;
			display: flex;
			justify-content: space-between;
			input[type="text"]{
				border: none;
				background-color: transparent;
				padding: 0 11px;
				height: 100%;
				outline: none;
				flex: 1 0 auto;
				color: #31343E;
			}
			input[type="submit"]{
				background: url('../images/icons/search-white.svg') center center no-repeat #80D0AD;
				border: none;
				width: 34px;
				height: 34px;
				border-radius: 4px;
				cursor: pointer;
				&:hover{
					opacity: 0.8;
				}
			}
		}
	}
	.btn{
		margin-top: 40px;
		max-width: 185px;
		margin: 0 auto;
	}
}