html {
   font-size: 1px;
}

body {
	 font-family: 'Source Sans Pro', sans-serif;
   font-size: 14rem;
   font-weight: 400;
   line-height: 1.4;
   color: #31343E;
}
.title{
	font-family: 'Yanone Kaffeesatz', sans-serif;
}